<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm" />
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="WcfService.Service1Behavior" name="MySamples.WcfService">
				<endpoint address="" binding="wsHttpBinding" contract="WarGameService.IWarGameService" bindingConfiguration="WarGameService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WarGameService.ServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<userNameAuthentication
							 userNamePasswordValidationMode="Custom"
							 customUserNamePasswordValidatorType="CustomValidator,WarGameService"/>
					</serviceCredentials>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
			<wsHttpBinding>
				<binding name="WarGameService" maxReceivedMessageSize="65536">
					<readerQuotas maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="65536" />
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.webServer>

	</system.webServer>
 
</configuration>
