<?xml version="1.0"?>

<configuration>

	<appSettings>
		<clear />
		<add key="connectionString"
		     value="Data Source=localhost\sqlexpress;Initial Catalog=war_game;User Id=war_game;Password=war_game_pass;" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm" />
	</system.web>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="WarGameService.ServiceBehavior" name="WarGameService.WarGameService">
				<endpoint binding="wsHttpBinding" contract="WarGameService.IWarGameService" bindingConfiguration="WarGameService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WarGameService.ServiceBehavior">
					<serviceMetadata httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceCredentials>
						<userNameAuthentication userNamePasswordValidationMode="Custom"
						                        customUserNamePasswordValidatorType="WarGameService.CustomValidator, WarGameService" />
					</serviceCredentials>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<bindings>
			<wsHttpBinding>
				<binding name="WarGameService" maxReceivedMessageSize="65536">
					<readerQuotas maxStringContentLength="65536" maxArrayLength="65536" maxBytesPerRead="65536" />
					<security mode="TransportWithMessageCredential">
						<message clientCredentialType="UserName" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
	</system.serviceModel>
	<system.webServer></system.webServer>

</configuration>
